.shadow{
    box-shadow: 0px 0px 15px grey;
    border-radius: 20px;
    background: white;
    color:black;  
    height: 420px;
}
.shadow:hover{
    cursor: pointer;
    box-shadow:  0px 0px 45px grey;
}

.textContent{
   padding: 20px 20px 20px 20px;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: 0px 0px 5px grey;
    border-radius: 20px;
}

.headerStyleDiv{
    box-shadow: 0px 0px 20px grey;
    background: white;
}

.logoDiv{
    background: white;
    color:black; 
}

.navigationDiv{
    position:relative;
    top:10px;
}
.pLogoName{
    position:relative;
    top:10px;
    font-size: 20pt;
    margin: 0px 0px 0px 0px;
    
}
.mainPageDiv{
    box-shadow: 0xp 0px 20px grey;
    border-radius: 20px;
    background: white;
    color:black;
}


.changeImage{
    background-image: url(../images/final_images/Main_page_image3.jpg);
}

.aStyle{
    text-decoration: none;
    color:black;
    font-size: 20pt;
    padding: 12px 12px;
}
.aStyle a:hover{
    background-color: #efefef; 
}
.listStyle{
    list-style: none;
    font-size: 14pt;
}
.listStyle li{
    margin-top: 10px;
}

.pNoTopMargin{
    margin: 0px 0px 0px 0px;
}

.pWhite{
    color:white;
}
.p24{
    font-size: 24pt;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}
.p16{
    font-size: 16pt;
    margin: 0px 0px 0px 0px;
}

.pBottom{
    position: relative;
    top: 0px;
}

.smallPadding{
    padding : 5% 5% 5% 5%;
}

.hStyle{
    margin: 0px 0px 0px 0px;
    border:1px solid black;
    text-align: center;
}

.changeColor {
   background: red;
}

nav ul li a {
    text-decoration: none;
    color:black;
}

.bold{
     font-weight: bolder;
}

a.active {
  border-bottom: 2px solid #ecf0f1;
}

section {
  width: 100%;
  padding: 50px;
  background: #fff;
  height: 500px;
  text-align: center;
}

.sections section:first-child {
  margin-top: 0px;
}

.sixth{
    margin-top: 50px;
}
section.active {}


