.shadow{
    box-shadow: 0px 0px 20px grey;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    background: #efefef;
    color:black;
}

/*show appearence of grid*/
.col-lg-2{
    border: 1px solid black;
}

.col-lg-4{
    border: 1px solid black;
}