.shadow{
    box-shadow: 0px 0px 20px grey;
    /*margin: 10px 10px 10px 10px;*/
    /*padding: 10px 10px 10px 10px;*/
    border-radius: 20px;
    background: white;
    color:black;  
    height: 100px;
}

/*show appearence of grid
.col{
    border: 1px solid black;
}

.col{
    border: 1px solid black;
}*/

